/*------------------------------------------*/
/* main tags*/
body{
  font-size: 25px;
  background-color:#E6E6FA;
  margin: 0 auto 0 50px;
  text-align: center;
  position:relative;
  font-family: 'Merriweather', serif;
}
/*------------------------------------------*/
/* classes*/
/* grid for the login page*/
.Grid_Login{
  display:grid;
  grid-template-columns: 100%;
  grid-template-areas:
          "header"
          "main"
          "footer";
}
/*grid for home page*/
.Grid_home
{
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-areas: "Logo Header logout1"
                      "navbar navbar navbar"
                      "aside main main"
                      "footer footer footer";


}
/*grid for basic pages*/
.Grid_basic{
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-areas: "Logo Header logout1"
                      "navbar navbar navbar"
                      "main main main"
                      "footer footer footer";


}



.header{
  grid-area: header;
}
.main{
  grid-area: main;
}
.navbar{
  grid-area: navbar;
}
.aside{
  grid-area: aside;
}
.footer{
  grid-area: footer;
  font-size: 20px;
  text-align: center;
  height: 100px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}
/*styling for horisontal dotted lines for format*/
.horisontal_dotted_line{
  border-style: dotted none none;
    border-width: 10px;
    border-color: silver;
    width: 65%;
    margin: 10px auto;
}
/*------------------------------------------*/
/* ids */
#form_fieldset{
  border-color: black;
}

#heading
{
  margin-left: 10px;
}
